*{
    margin: 0;
    padding: 0;    
}
body
{
    position: relative;
    /* background-image: url(../images/netflixmainbanner.jpg); */
}
.header
{
    position: absolute;
    top: 22px;
    left: 174px;
}
.main_banner-background img
{
    width: 100%;
    height: 704px;
    object-fit: cover;
}
.logo_container
{
    display: flex;
    width: 148px;
    height: 40px;
}
.logo_container p
{
    font-size: 41px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    color:rgb(193, 17, 25) ;
    font-weight: bold;
}
#e,#i
{
  font-size: 38px;
  font-weight: bold;
}
#t
{
  font-size: 37px;
  font-weight: bold;
}
#f
{
    font-weight: bold;
  font-size: 36px;
}
#l
{
   font-size: 37px;
   font-weight: bold;
}
.leftbtn button:hover
{
   background-color: rgb(193, 17, 25);
   cursor: pointer;
   transition: all .9s;
   border: 2px solid rgb(193, 17, 25);
}
.leftbtn button
{
    width: 91px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 17px;
    background: transparent;
    color: #fff;
    font-weight: 700;
    transition: all .5s;
    border: 2px solid black;
    border-radius: 5px;
    
}
.rightbtn button
{
    width: 75px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 17px;
    background: transparent;
    color: #fff;
    font-weight: 700;
    transition: all .5s;
    background-color:rgb(193, 17, 25) ;
    border: 2px solid rgb(193, 17, 25);
    border-radius: 5px;
}
.rightbtn button:hover
{
   background: transparent;
   transition: all .9s;
   cursor: pointer;
   border: 2px solid black;
}
.header
{
    display: flex;
    align-items: center;
    gap: 74%;
    width: 72%;
}

.haedebutton
{
    display: flex;
    gap: 10px;
}
.mainbannertext,.bannertext2
{
    font-size: 3rem;
    font-weight: 900;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #fff;
}
.second_text,.secbanntext3
{
font-size: 1.5rem;
font-weight: 400;
font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
color: #fff;
}
.third_text
{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
   color: #fff;
}
.banner_text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    top: 278px;
    left: 323px;
    position: absolute;
}
.email_section
{
    display: flex;
    gap: 10px;
}
.email input
{
    width: 374px;
    height: 41px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #757676;
    background-color: #000000bd;
    color: #fff;
    padding: 5px;
}
::placeholder
{
    color: #fff;
}
.get{
    margin-bottom: 2px;
}
.get button 
{
    width: 203px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 900;
    border: 1px solid rgb(193, 17, 25);
    background-color: rgb(193, 17, 25);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 1px;
    cursor: pointer;
}
.get button a
{
    color: #fff;
    text-decoration: none;
}
.scecond_banner-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 582px;
    background-color: black;
}
.thirdbanner-image
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin-top: 5px;
    position: relative;
}
.imagedow img
{
    width: 57px;
    height: 80px;
}
.uppertextdow
{
    font-size: 1rem;
    font-weight: 500;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: rgb(255,255,255);
}
.lowertextdow
{
    font-size: 0.875rem;
    color: #0071eb;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.downloadthird
{
    width: 316px;
    height: 103px;
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 2px solid #797676;
    border-radius: 10px;
    position: absolute;
    top: 65%;
    /* left: 312px; */
    background-color: #000;
}
.textdow
{
  width: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imagedow
{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icondow
{
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.third-image img
{
    width: 579px;
    height: 434px;
}
.lastheader h2
{
    font-size: 3rem;
    font-weight: 900;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color:#fff;
    margin-top: 70px;
}
.option
{
    width: 1170px;
    height: 84px;
    display: flex;
    background-color: rgb(45, 45, 45);
    align-items: center;
    color: #1c1919;
    justify-content: space-between;
    cursor: pointer;
    transition: all .4s;
}
.lastbannersection
{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 5px;
}
.lastsection
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.lastpartoption
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.leftheader span
{
    font-size: 24px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.pluslogo span
{
    font-size: 40px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.pluslogo
{
    height: 84px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.leftheader
{
    margin-left: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}
.lastheader
{
    height: 105px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icondow svg
{
    color: #fff;
    cursor: pointer;
}
.footer-email
{
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.option:hover
{
   background-color: rgb(101, 101, 101);
   transition: all .3s;
}

.footerulli
{
    display: flex;
    justify-content: center;
    gap: 230px;
}
.footer ul
{
display: flex;
flex-direction: column;
gap: 20px;

}
.footer ul li
{
    list-style: none;
}
.call_section
{
    height: 100px;
    display: flex;
    align-items: end;
    margin-bottom: 15px;
    margin-left: 246px;
    margin-right: 246px;
}
.footersection a,.qustion-call
{
   color: rgb(255,255,255);
   font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
   font-size: 14px;
   transition: all .5s;
}
footer
{
    background-color: #000;
    margin-top: 5px;
}
.footersection a:hover
{
    color: rgb(193, 17, 25);
    transition: all .4s;
    text-decoration: none;
}
.footer
{
    width: 200px;
    height: 250px;
}
.qustion-call a u
{
  transition: all .5s;
}
.qustion-call a u:hover
{
    color: #0071eb;
    transition: all .5s;
    text-decoration: none;
}



/* Sign up part */
.signupheader
{
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
.signup_logo
{
    margin-left: 40px;
    padding: 5px;
    margin-top: 4px;
}
.signup_button a
{
    color: #333;
    float: right;
    font-size: 19px;
    font-weight: 700;
    line-height: 90px;
    text-decoration: none;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.signup_button a:hover,.forgot_pass a:hover
{
    text-decoration: underline;
    transition: all .9s;
}

.signup_button
{
    margin-right: 60px;
}

.signuppage
{
    display: flex;
    justify-content: center;
}
.signup_section
{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.email_section
{
    display: flex;
}
.third_part
{
    margin-bottom: 30px;
}
.second_part
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.third_part button
{
   width:100%;
   height: 65px;
   background-color:#e50914;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
     border: none;
     font-size: 24px;
     font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
     font-weight:600 ;
     border-radius: 3px;
     cursor: pointer;
}
.forgot_pass a
{
    color: #0071eb;
    font-size: 17px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-decoration: none;
}
.email_signup input
{
    width: 374px;
    height: 41px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #757676;
    background-color: #ddd5d5bd;
    color: #000;
    padding: 5px;
}
.email_signup input::placeholder
{
    color: #787373;
}
#first_span
{
    font-size: 16px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
} 
#secspan
{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size:35px ;
}
#thispan
{
    font-size: 19px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 600;
}
.signup_email,.email_name
{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 17px;
}
.foot1
{
    display: flex;
}
.signup_part1
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 317px;
}
.main_signupsection
{
    display: flex;
    flex-direction:column ;
    align-items: center;
    position: absolute;
    top: 19%;
    left: 37%;
}
.signup_gmailpassbtn
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gmailname input,.gmail_pass input
{
    width: 304px;
    height: 50px;
    display: flex;
    outline: none;
    font-size: 20px;
    background-color: #333;
    border: none;
    border: 2px solid #333;
    color: #fff;
    padding-left: 10px;
    border-radius: 5px;
}
.signupbtn button
{
    width: 314px;
    height: 50px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    background-color: #e50914;
    border-radius: 5px;
    border: none;
    color: #fff;
}
::placeholder
{
    font-size: 15px;
}
.remember_needhelp
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10px;
}
.signup_text
{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: end;
}
.signup_text h1
{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: end;
    font-size: 18px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #000;
    font-size: 32px;
    font-weight: 500;
}
.signup_part2
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 317px;
}
.newnetflix p
{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
}
.lowertext span
{
    color: #8c8c8c;
    font-size: 18px;
    width: 100%;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: #e50914;
  }
  .remeber
  {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }
  .help a,.newnetflix a
  {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-decoration: none;
    transition: .5s;
    color: blue;
  }
  .help a:hover,.newnetflix a:hover
  {
    text-decoration: underline;
    transition: .5s;
  }
  .newnetflix
  {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  }
.signup_container
{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    background-color: rgb(104 100 100 / 75%);
    border-radius: 5px;
}
.rightbtn button a
{
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width:564px)
{
.header
{
    gap: 19%;
    left: 16px;
}
.banner_text
{
    left: 0px;
    top: 220px;
}
.email_section
{
    flex-direction: column;
    align-items: center;
}
.banner_text h1,.banner_text h3
{
 text-align: center;
}
.scecond_banner-section
{
    flex-direction: column;
}
.secbann-image img
{
    width: 100%;
}
.secbanntext3,.bannertext2
{
    text-align: center;
    padding: 12px;
}
.secbann-text
{
    padding: 5px;
}
.third-image img
{
    width: 100%;
    object-fit: cover;
}
.thirdbanner-image
{
    flex-direction: column;
}
.downloadthird
{
    top: 39%;
    /* left: 22px; */
}
.option
{
    width: 88%;
}
.footer-email h3
{
    text-align: center;
}
.foot1
{
    width: 134px;
    flex-direction: column;
}
.footerulli
{
    gap: 1px;
}
.call_section 
{
    margin-left: 67px;
    margin-right: 1px;
}
.signup_button
{
    margin-right: 30px;
}
.signup_logo
{
    margin-left: 10px;
}
#thispan
{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 8px;
}
.third_part
{
    display: flex;
    justify-content: center;
}
.third_part button
{
    width: 90%;
}
.email input,.email_signup input
{
    width: 332px;
}
.email_signup
{
    display: flex;
    justify-content: center;
}
.lastsection
{
    gap: 80px;
}
#secspan 
{
    font-size: 30px;
    display: flex;
    margin-left: 14px;
}
.main_signupsection
{
    left: 4px;
    top: 13%;
}
#first_span
{
    margin-left: 10px;
}
.signup_email
{
    margin-left: 20px;
}
.email_name
{
margin-left: 10px;
}
}
